.form-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.field-container {
    flex-basis: 100%;
    margin-bottom: 20px;

    p.field-label,
    label {
        margin: 10px 0 10px 0;
        display: block;
        font-weight: $fWeightBold;
        cursor: pointer;
    }

    input {
        width: 100%;
        display: block;
        @include input-styles;
    }

    textarea {
        resize: none;
        width: 100%;
        height: 200px;
        @include input-styles;
    }

    &.required {
        .field-label:after,
        label:after {
            @include required-asterisk;
        }
        &.radio-field-container {
            .field-label:after {
                @include required-asterisk;
            }
            label:after {
                content: "";
            }
        }
    }

    .err-note {
        display: none;
        flex-basis: 100%;
        padding: $inputPadding;
        border: solid $themeAlert 2px;
        border-radius: 5px;
        color: $themeAlert;
        &.has-error {
            display: block;
        }
    }
}

.field-container.checkbox-field-container {
    label {
        display: inline-block;
        font-weight: $fWeight;
    }

    input {
        width: auto;
        display: inline;
    }
}

.radio-btns-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    label {
        display: inline-block;
        font-weight: $fWeight;
    }

    input {
        width: auto;
        display: inline;
        border-color: $theme;
    }
}

.select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;

    .select {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0;

        &.open {
            .custom-options {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
            .select__trigger {
                border-color: $theme2;
            }
            .arrow {
                &:before {
                    left: -5px;
                    transform: rotate(45deg);
                    background-color: $theme2;
                }

                &:after {
                    left: 5px;
                    transform: rotate(-45deg);
                    background-color: $theme2;
                }
            }
        }

        .arrow {
            position: relative;
            height: 15px;
            width: 15px;

            &:before,
            &:after {
                content: "";
                position: absolute;
                bottom: 0px;
                width: 0.15rem;
                height: 100%;
                transition: all 0.5s;
            }

            &:before {
                left: -5px;
                transform: rotate(-45deg);
                background-color: $theme;
            }

            &:after {
                left: 5px;
                transform: rotate(45deg);
                background-color: $theme;
            }
        }

        .select__trigger {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $themeDrk;
            background: $themeLgt;
            cursor: pointer;
            @include input-styles;
        }

        .custom-options {
            position: absolute;
            display: block;
            top: 100%;
            left: 0;
            right: 0;
            border-top: 0;
            transition: all 0.5s;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            overflow: hidden;
            z-index: 2;

            .custom-option {
                position: relative;
                display: block;
                padding: $inputPadding;
                border-right: $inputBorder2;
                border-left: $inputBorder2;
                background: $themeLgt;
                cursor: pointer;
                transition: all 0.5s;

                &:first-of-type {
                    border-top: $inputBorder2;
                    border-radius: $inputBorderRadius $inputBorderRadius 0 0;
                }

                &:last-of-type {
                    border-bottom: $inputBorder2;
                    border-radius: 0 0 $inputBorderRadius $inputBorderRadius;
                }

                &:hover {
                    cursor: pointer;
                    background-color: #fff;
                }

                &.selected {
                    color: $themeLgt;
                    background-color: $theme2;
                }
            }
        }
    }

}

#form-submission-notice {
    display: none;
    font-weight: $fWeightBold;
    .after-submission {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .field-container.width-half {
            flex-basis: 48%;
    }
}

@media screen and (max-width: 767px) {
    .radio-btns-container {
        flex-direction: column;
        .radio-btn-container {
            display: flex;
            align-items: center;
            label {
                padding-left: 10px;
                flex-grow: 1;
            }
        }
    }
    #contedia-form-submit {
        width: 100%;
    }
}