html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-size: $fSize;
    font-weight: $fWeight;
    font-family: $mainFontFamily;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    color: $themeDrk;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

#page-footer {
    background-color: #333;
    color: #eee;
    text-align: center;
}

.section {
    display: flex;
    justify-content: center;
}


button,
input[type="button"],
input[type="submit"] {
    display: inline-block;
    padding: $inputPadding;
    border-width: 4px;
    border-style: solid;
    border-color: $theme2;
    border-radius: $inputBorderRadius;
    color: $theme2;
    font-size: $fSize;
    font-weight: $fWeightBold;
    transition: all $transTime;
    text-transform: uppercase;
    cursor: pointer;
    &:hover, &:focus, &:active {
        border-color: $themeAlert;
        background-color: $themeAlert;
        color: #fff;
    }
}

h1,
h2,
h4,
h4,
h5,
h6 {
    color: #444;
    margin-top: .5em;
    margin-bottom: .5em;
}

h1 {
    font-size: 8em;
}
h2 {
    font-size: 6em;
}
h3 {
    font-size: 4em;
}
h4 {
    font-size: 3em;
}
h5 {
    font-size: 2em;
}
h6 {
    font-size: 1em;
}

*, *:after, *:before {
    box-sizing: border-box;
}


@media screen and (min-width: 768px) {

    h1 {
        font-size: 8em;
    }
    h2 {
        font-size: 6em;
    }
    h3 {
        font-size: 4em;
    }
    h4 {
        font-size: 3em;
    }
    h5 {
        font-size: 2em;
    }
    h6 {
        font-size: 1em;
    }

    .section {
        padding: 50px;
    
        .section-wrap {
            width: 1180px;
        }
    }
}

@media screen and (max-width: 767px) {

    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
    h4, h5, h6 {
        font-size: 1em;
    }

    .section {
        padding: 50px 20px;
    }
}