$mainFontFamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$fSize: 18px;
$fWeight: 300;
$fWeightBold: 700;

$theme: #394a6d;
$theme2: #31ad90;
$themeAlert: #cf4563;

$themeLgt: #eee;
$themeDrk: #333;

$elSpacing: 50px;

$inputBorder: solid $theme 4px;
$inputBorder2: solid $theme2 4px;
$inputPadding: 10px 5px;
$inputBorderRadius: 10px;

$transTime: .2s ease-out;


@mixin input-styles {
    border: $inputBorder;
    border-radius: $inputBorderRadius;
    padding: $inputPadding;
    transition: all $transTime;
    font-family: $mainFontFamily;
    background-color: $themeLgt;
    font-size: 18px;
    font-weight: 300;
    color: $themeDrk;
    &:focus {
        border-color: $theme2;
        outline: $theme2;
    }
}

@mixin required-asterisk {
    content: " *";
    color: $themeAlert;
    font-weight: $fWeightBold;
}