html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  color: #333;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

#page-footer {
  background-color: #333;
  color: #eee;
  text-align: center;
}

.section {
  display: flex;
  justify-content: center;
}

button,
input[type=button],
input[type=submit] {
  display: inline-block;
  padding: 10px 5px;
  border-width: 4px;
  border-style: solid;
  border-color: #31ad90;
  border-radius: 10px;
  color: #31ad90;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.2s ease-out;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover, button:focus, button:active,
input[type=button]:hover,
input[type=button]:focus,
input[type=button]:active,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active {
  border-color: #cf4563;
  background-color: #cf4563;
  color: #fff;
}

h1,
h2,
h4,
h4,
h5,
h6 {
  color: #444;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 8em;
}

h2 {
  font-size: 6em;
}

h3 {
  font-size: 4em;
}

h4 {
  font-size: 3em;
}

h5 {
  font-size: 2em;
}

h6 {
  font-size: 1em;
}

*, *:after, *:before {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 8em;
  }

  h2 {
    font-size: 6em;
  }

  h3 {
    font-size: 4em;
  }

  h4 {
    font-size: 3em;
  }

  h5 {
    font-size: 2em;
  }

  h6 {
    font-size: 1em;
  }

  .section {
    padding: 50px;
  }
  .section .section-wrap {
    width: 1180px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4, h5, h6 {
    font-size: 1em;
  }

  .section {
    padding: 50px 20px;
  }
}
.form-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field-container {
  flex-basis: 100%;
  margin-bottom: 20px;
}
.field-container p.field-label,
.field-container label {
  margin: 10px 0 10px 0;
  display: block;
  font-weight: 700;
  cursor: pointer;
}
.field-container input {
  width: 100%;
  display: block;
  border: solid #394a6d 4px;
  border-radius: 10px;
  padding: 10px 5px;
  transition: all 0.2s ease-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #eee;
  font-size: 18px;
  font-weight: 300;
  color: #333;
}
.field-container input:focus {
  border-color: #31ad90;
  outline: #31ad90;
}
.field-container textarea {
  resize: none;
  width: 100%;
  height: 200px;
  border: solid #394a6d 4px;
  border-radius: 10px;
  padding: 10px 5px;
  transition: all 0.2s ease-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #eee;
  font-size: 18px;
  font-weight: 300;
  color: #333;
}
.field-container textarea:focus {
  border-color: #31ad90;
  outline: #31ad90;
}
.field-container.required .field-label:after,
.field-container.required label:after {
  content: " *";
  color: #cf4563;
  font-weight: 700;
}
.field-container.required.radio-field-container .field-label:after {
  content: " *";
  color: #cf4563;
  font-weight: 700;
}
.field-container.required.radio-field-container label:after {
  content: "";
}
.field-container .err-note {
  display: none;
  flex-basis: 100%;
  padding: 10px 5px;
  border: solid #cf4563 2px;
  border-radius: 5px;
  color: #cf4563;
}
.field-container .err-note.has-error {
  display: block;
}

.field-container.checkbox-field-container label {
  display: inline-block;
  font-weight: 300;
}
.field-container.checkbox-field-container input {
  width: auto;
  display: inline;
}

.radio-btns-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.radio-btns-container label {
  display: inline-block;
  font-weight: 300;
}
.radio-btns-container input {
  width: auto;
  display: inline;
  border-color: #394a6d;
}

.select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}
.select-wrapper .select {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.select-wrapper .select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.select-wrapper .select.open .select__trigger {
  border-color: #31ad90;
}
.select-wrapper .select.open .arrow:before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #31ad90;
}
.select-wrapper .select.open .arrow:after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #31ad90;
}
.select-wrapper .select .arrow {
  position: relative;
  height: 15px;
  width: 15px;
}
.select-wrapper .select .arrow:before, .select-wrapper .select .arrow:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.select-wrapper .select .arrow:before {
  left: -5px;
  transform: rotate(-45deg);
  background-color: #394a6d;
}
.select-wrapper .select .arrow:after {
  left: 5px;
  transform: rotate(45deg);
  background-color: #394a6d;
}
.select-wrapper .select .select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  background: #eee;
  cursor: pointer;
  border: solid #394a6d 4px;
  border-radius: 10px;
  padding: 10px 5px;
  transition: all 0.2s ease-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #eee;
  font-size: 18px;
  font-weight: 300;
  color: #333;
}
.select-wrapper .select .select__trigger:focus {
  border-color: #31ad90;
  outline: #31ad90;
}
.select-wrapper .select .custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 0;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
}
.select-wrapper .select .custom-options .custom-option {
  position: relative;
  display: block;
  padding: 10px 5px;
  border-right: solid #31ad90 4px;
  border-left: solid #31ad90 4px;
  background: #eee;
  cursor: pointer;
  transition: all 0.5s;
}
.select-wrapper .select .custom-options .custom-option:first-of-type {
  border-top: solid #31ad90 4px;
  border-radius: 10px 10px 0 0;
}
.select-wrapper .select .custom-options .custom-option:last-of-type {
  border-bottom: solid #31ad90 4px;
  border-radius: 0 0 10px 10px;
}
.select-wrapper .select .custom-options .custom-option:hover {
  cursor: pointer;
  background-color: #fff;
}
.select-wrapper .select .custom-options .custom-option.selected {
  color: #eee;
  background-color: #31ad90;
}

#form-submission-notice {
  display: none;
  font-weight: 700;
}
#form-submission-notice .after-submission {
  display: block;
}

@media screen and (min-width: 768px) {
  .field-container.width-half {
    flex-basis: 48%;
  }
}
@media screen and (max-width: 767px) {
  .radio-btns-container {
    flex-direction: column;
  }
  .radio-btns-container .radio-btn-container {
    display: flex;
    align-items: center;
  }
  .radio-btns-container .radio-btn-container label {
    padding-left: 10px;
    flex-grow: 1;
  }

  #contedia-form-submit {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
